.new-goal{
    margin: 2rem;
    text-align: left;
}

.new-goal input{
    border-radius: 5px;
    border-color: #ccc;
    font-size: 20px;
    border-style: solid;
    margin: 2vh 2px;
    display: flex;
    color: #e72a2a;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.new-goal button{
    background-color: #e72a2a;
    border-radius: 5px;
    font-size: 15px;
    border-style: solid;
    border: none;
    color: #fff;
    font-weight: bold;
    outline: none;
    width: 8rem;
    height: 2rem;
}

.new-goal button:hover{
    background-color: #940d0d;
}